<template>
  <div>
    <v-client-table :data="data" :columns="columns">
      <b-form-checkbox slot="enable" slot-scope="props" v-model="props.row.enable" name="check-button" switch @change="toogleEnable(props.row)"/>
      <div slot="scheduled" slot-scope="props" class="settings-cursive"> {{props.row.title}}</div>
      <div slot="settings" slot-scope="props">
      <span v-if="props.row.body">Custom Settings</span>
      <span v-else> Default Settings </span>
      <span class="settings-radio" @click="clickSettings(props.row)" ><b-icon-gear-fill/></span></div>
    </v-client-table>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'GridTaskScheduler',
  props: {
    data: Array,
    columns: Array
  },
  methods:{
    clickSettings: function (row){
      this.$emit("modalShow", row);
    },
    toogleEnable: function (row){
      axios({
          method: 'post',
          url: window.server + '/api/1.0/workflow/scheduler',
          data:{
            id: row.id,
            enable : row.enable? '1':'0'
          },
          headers: {
          'Authorization': `Bearer `+ window.credentials.accessToken
          }  
      }).then(response => {
         console.log(response);
      }); 
    }
  }
}
</script>
<style>
</style>
