<template>  
    <b-modal ref="modal" hide-backdrop content-class="shadow"  size="xl" title="Custom Schedule Settings">    
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <label for="timepicker-placeholder">Periodicity</label>
            <b-form-timepicker  placeholder="Choose a time" local="en" v-model="row.settings.periodicity"></b-form-timepicker>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="timepicker-placeholder">Starting Time</label>
            <b-form-timepicker placeholder="Choose a time" local="en" v-model="row.startingTime"></b-form-timepicker>
          </b-col>
          <b-col>
            <label for="timepicker-placeholder">Ending Time</label>
            <b-form-timepicker placeholder="Choose a time" local="en"  v-model="row.endingTime"></b-form-timepicker>
          </b-col>
          <b-col>
            <label for="timepicker-placeholder">Time Zone</label>
            <b-form-select :options="timeZone" v-model="row.timezone"></b-form-select>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="8">
            <label for="timepicker-placeholder">Repeat Every</label>
            <b-row>
              <b-col>
                <b-form-input type="number" v-model="row.settings.repeatEvery.unit"></b-form-input>
              </b-col>
              <b-col>
                <b-form-select v-model="row.settings.repeatEvery.repeat" :options="optionsRepeatEvery"></b-form-select>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
         <b-row>
          <b-col>
            <label for="timepicker-placeholder">Repeat On</label>
            <p>
              <b-form-checkbox-group
                class="options-days"
                v-model="row.settings.repeatOn"
                :options="optionsDays"
                buttons
                button-variant="default"
                size="sm"
                name="buttons-2"
              ></b-form-checkbox-group>
            </p>
          </b-col>
        </b-row>
      </b-container>
      <template v-slot:modal-footer>
        <div>
          <b-button
            variant="success"
            class="float-right"
            @click="save"
          >
            Save
          </b-button>
          <span class="w-100"/>
          <b-button
            variant="danger"
            class="float-right"
            @click="hide"
          >
            Cancel
          </b-button>
        </div>
      </template>
    </b-modal>
</template>

<script>
import axios from 'axios';
import {xCron} from '../xCron';
export default {
  name: 'GridTaskScheduler',
  props: {
    options: Array,
    optionsDays: Array,
    timeZone: Array,
    optionsRepeatEvery: Array
  },
  data() {
    return {
      row:{
      settings:{
            periodicity: "00:01",
            startingTime: "0:00",
            endingTime: "23:00",
            timeZone: "1",
            repeatEvery: {
              unit: 1,
              repeat: "w"  
            },
            repeatDays:[0,1,2,3,4,5,6]  
        }
      }
    };
  }, 
  methods:{
    clickSettings: function (row){
      this.$root.$emit("modalShow", row);
    },
    show: function (){
      this.$refs['modal'].show();
    },
    save: function (){
      this.$refs['modal'].hide();
      let cronExp = new xCron();
      let exp = cronExp.toExpression(
        this.row.settings.periodicity,
        this.row.settings.repeatEvery.repeat == "w"? this.row.settings.repeatEvery.unit: this.row.settings.repeatEvery.unit*4, 
        this.row.settings.repeatOn
      );
 
      axios({
          method: 'post',
          url: window.server + '/api/1.0/workflow/scheduler',
          data:{
            id: this.row.id,
            expression: exp,
            startingTime: this.row.startingTime,
            endingTime: this.row.endingTime,
            enable : this.row.enable? '1':'0',
            timezone: this.row.timezone
          },
          headers: {
          'Authorization': `Bearer `+ window.credentials.accessToken
          }  
      })     
      .then(response => {
         console.log(response);
      });
    },
    hide: function (){
      this.$refs['modal'].hide();
    }
  }
}
</script>
<style>
.settings-radio{
  font-size: 20px;
  padding-left: 10px;
}

.settings-cursive{
  font-style: italic;
  font-size: 14px;
}

.options-days .btn-default.btn-sm.active{
  background-color:#0062cc; 
  color:white
}
.btn{
  background-image: none !important;
}
</style>
