<template>
  <div id="app">
    <div class="x-container">
      <GridTaskScheduler :data="dataScheduler" :columns="columns" @modalShow="modalShow">
      </GridTaskScheduler>
      <ModalTaskSchedule ref="modal" :options="options" :optionsDays="optionsDays" :timeZone="timeZone" :optionsRepeatEvery="optionsRepeatEvery">
      </ModalTaskSchedule>
    </div>
  </div>
</template>

<script>
import GridTaskScheduler from "./components/GridTaskScheduler.vue";
import ModalTaskSchedule from "./components/ModalTaskSchedule.vue";
import axios from 'axios';
import _ from 'lodash';
import {xCron} from './xCron';
export default {
  name: 'App',
  components: {
    GridTaskScheduler,
    ModalTaskSchedule
  },
  mounted () {  
    let urlBase = window.server + '/api/1.0/workflow/scheduler' + (window.category? '?category='+ window.category : "");
    axios
      .get(urlBase, {headers: {
        'Authorization': `Bearer ` + window.credentials.accessToken
      }})      
      .then(response => {
        let sches = [];
        let times = [];
        _.forEach(response.data, (task)=>{
            let cronExpression = new xCron();
            task.settings = cronExpression.toSettings(task.expression);
            task.settings.timezone = '1';
            task.enable = task.enable == 1? true:false;
            let s =task.settings.repeatEvery;
            task.settings.repeatEvery = {
              unit: s,
              repeat: 'w'
            };
          sches.push(_.extend({},task));
        });

        _.forEach(window.timezoneArray, (task)=>{
            times.push({
              value:task,
              text:task
            });
        });

        this.dataScheduler = sches;
        this.timeZone = times;      
      });
  },
  data() {
    return {
      columns: ["enable", "title", "settings"],
      dataScheduler: [],
      tableData: [
      ],
      optionsDays: [
        { text: 'Mon', value: '1' },
        { text: 'Tue', value: '2' },
        { text: 'Wes', value: '3' },
        { text: 'Thu', value: '4' },
        { text: 'Fri', value: '5' },
        { text: 'Sat', value: '6' },
        { text: 'Sun', value: '0' }
      ],
      timeZone: [],
      optionsRepeatEvery: [
        { text: 'Months', value: 'm' },
        { text: 'Weeks', value: 'w' },  
      ],
      selected:[]
    };
  },
  methods: {
    modalShow:function(row){
      this.$refs['modal'].row = row;
      this.$refs['modal'].show();
    }
  }
}
</script>

<style>
.x-container{
  padding:40px;
}

.VueTables__search-field label{
  display:none !important;
}

</style>
